NODE_RED_FLOWS/DISPLAY_DASHBOARD(display scenario).json
[
    {
        "id": "a72b0a1eccadb0a5",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d454ddb4d19b3f7",
        "type": "mqtt in",
        "z": "a72b0a1eccadb0a5",
        "name": "Temperature",
        "topic": "arduino/sensors/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2e14030647119eb",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "9aa39604cfcb68e4"
            ]
        ]
    },
    {
        "id": "9aa39604cfcb68e4",
        "type": "ui_text",
        "z": "a72b0a1eccadb0a5",
        "group": "bfb63f38.80a218",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "a4e752d7743e125b",
        "type": "mqtt in",
        "z": "a72b0a1eccadb0a5",
        "name": "Humidity",
        "topic": "arduino/sensors/hum",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2e14030647119eb",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "95a70b541ac15f22"
            ]
        ]
    },
    {
        "id": "95a70b541ac15f22",
        "type": "ui_text",
        "z": "a72b0a1eccadb0a5",
        "group": "bfb63f38.80a218",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Humidity",
        "label": "Humidity",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "3c756fba1bedeeb3",
        "type": "mqtt in",
        "z": "a72b0a1eccadb0a5",
        "name": "CO",
        "topic": "arduino/sensors/co",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2e14030647119eb",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "8d21bd48bca08d53"
            ]
        ]
    },
    {
        "id": "8d21bd48bca08d53",
        "type": "ui_text",
        "z": "a72b0a1eccadb0a5",
        "group": "bfb63f38.80a218",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "CO",
        "label": "CO",
        "format": "{{msg.payload}} ppm",
        "layout": "row-spread",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "2c36780ea759bab6",
        "type": "mqtt in",
        "z": "a72b0a1eccadb0a5",
        "name": "CO2",
        "topic": "arduino/sensors/co2",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2e14030647119eb",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "020c70b9285670b7"
            ]
        ]
    },
    {
        "id": "020c70b9285670b7",
        "type": "ui_text",
        "z": "a72b0a1eccadb0a5",
        "group": "bfb63f38.80a218",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "CO2",
        "label": "CO2",
        "format": "{{msg.payload}} ppm",
        "layout": "row-spread",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "f91ab38f0415b1c8",
        "type": "mqtt in",
        "z": "a72b0a1eccadb0a5",
        "name": "NH4",
        "topic": "arduino/sensors/nh4",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2e14030647119eb",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "00099f9c7babb676"
            ]
        ]
    },
    {
        "id": "00099f9c7babb676",
        "type": "ui_text",
        "z": "a72b0a1eccadb0a5",
        "group": "bfb63f38.80a218",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "NH4",
        "label": "NH4",
        "format": "{{msg.payload}} ppm",
        "layout": "row-spread",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "92a2d5aae791c5bb",
        "type": "mqtt in",
        "z": "a72b0a1eccadb0a5",
        "name": "Aceton",
        "topic": "arduino/sensors/aceton",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2e14030647119eb",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "8cc3a23d072ffc51"
            ]
        ]
    },
    {
        "id": "8cc3a23d072ffc51",
        "type": "ui_text",
        "z": "a72b0a1eccadb0a5",
        "group": "bfb63f38.80a218",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Aceton",
        "label": "Aceton",
        "format": "{{msg.payload}} ppm",
        "layout": "row-spread",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "f2e14030647119eb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.235.178",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bfb63f38.80a218",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "18d2f789.f3d447",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "18d2f789.f3d447",
        "type": "ui_tab",
        "name": "Display_DHT11_MQ135",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]